<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="by.aleks.ghcwidget">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/AppTheme">


        <activity android:name=".WidgetPreferencesActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

    </application>

</manifest>
